body
{
	background-color: #900000;
	color: #fffff0;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
}

h2
{
	color: #9fffff;
	padding: 10px;
}

section
{
	margin-left: 30px;
	padding: 25px;
}

li
{
	margin-left: 40px;
	padding: 5px;
}